// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/* フッター
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color: #f5f5f5;
}
/* メインページ
  -------------------------------------------------- */
.container {
    width: auto;
    img {
        max-width: 300px;
        margin: 10px 5px;
    }
    .video {
        position: relative;
        .playBtn {
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            margin:0;
            padding:0;
            width: 80px;
        }
    }
    .text-muted {
        margin: 20px 0;
    }
    p {
        font-size: 16px;
    }
    #loading {
        position: fixed;
        font-size: 20px;
        bottom: 10px;
        right: 10px;
        border: 1px solid #888888;
        padding: 2pt;
        background-color: rgba($color: #ffffff, $alpha: 0.8);
    }
    .msg-enter-active, .msg-leave-active {
        transition: opacity 0.5s;
    }
    .msg-enter, .msg-leave-to{
        opacity: 0;
    }
}

.mainContents {
    // width: auto;
}

.navbar-right {
    margin-right: 10px;
}

#index {
    text-align: center;
}